
/* tabs inside of forms are smaller */
form > div.mdl-grid > div.ReactTabs.react-tabs > ul > li {
    padding: .25em 1.5em !important;
}

.ReactTabs {
    width: 100%;
}

.ReactTabs__TabList {
    margin: 0 0 !important;
}

.ReactTabs__TabList .ReactTabs__Tab {
    padding: 1em 3em !important;
}

.ReactTabs__Tab {
    color: #2a2b30 !important;
    box-shadow: none !important;
    position: inherit !important;
}

.ReactTabs__Tab--selected {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 4px solid #009f53 !important;
}
