
.navigation__header {
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 16px 24px;
    margin: 0;
    color: white;
    font-size:large;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    opacity: .87;
}